.benefits {
  text-align: center;
}
.benefits h2 {
  color: #7C5CFC;
  font-size: 20px;
  margin-bottom: 12px;
}
.benefits h1 {
  color: #040815;
  font-size: 40px;
  margin-bottom: 24px;
}
.benefits .subheading {
  color: #596780;
  width: 712px;
  margin: 0 auto;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-size: 20px;
}
.benefits .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}
.benefits .benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 44px;
}
.benefits .benefit .info {
  padding-left: 32px;
  padding-right: 95px;
  width: 415px;
}
.benefits .benefit h3 {
  color: #040815;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-bottom: 12px;
}
.benefits .benefit p {
  color: #596780;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.opinions {
  text-align: center;
  background-color: #0D121F;
  color: #ffffff;
}
.opinions h1 {
  color: #FFFFFF;
  font-size: 40px;
  letter-spacing: -0.03em;
  line-height: 60px;
  margin-bottom: 24px;
}
.opinions h2 {
  color: #7C5CFC;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 14px;
}
.opinions .subheading {
  color: #90A3BF;
  width: 568px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 64px;
}
.opinions .heading {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
.opinions .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.opinions .testimonials .testimonial {
  padding: 32px;
  width: 384px;
  background-color: #1A202C;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.opinions .testimonials .testimonial:nth-child(even) .position {
  color: #596780;
}
.opinions .testimonials .testimonial img {
  margin-right: 24px;
}
.opinions .testimonials .testimonial .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.03em;
}
.opinions .testimonials .testimonial .position {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #C3D4E9;
}
.opinions .opinion {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border-bottom: 1px solid rgba(144, 163, 191, 0.2);
  padding-bottom: 34px;
  margin-bottom: 32px;
  height: 120px;
}
.opinions .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.opinions .navigate {
  margin-top: 64px;
}
.opinions .navigate button {
  border-radius: 100px;
  padding: 16px;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.opinions .navigate .left {
  background: #1A202C;
  margin-right: 24px;
}
.opinions .navigate .right {
  background: #7C5CFC;
  -webkit-box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
          box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
}
body, html {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.02em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

section {
  padding: 120px 0;
}
/*# sourceMappingURL=style.css.map */