.benefits {
  text-align: center;
}
.benefits h2 {
  margin-bottom: 12px;
}
.benefits h1 {
  color: #040815;
  margin-bottom: 24px;
}
.benefits .subheading {
  color: #596780;
  width: 712px;
  margin: 0 auto;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-size: 20px;
}
.benefits .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}
.benefits .benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 44px;
}
.benefits .benefit .info {
  padding-left: 32px;
  padding-right: 95px;
  width: 415px;
}
.benefits .benefit h3 {
  color: #040815;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
  margin-bottom: 12px;
}
.benefits .benefit p {
  color: #596780;
  font-weight: 400;
  font-size: 16px;
}
.opinions {
  text-align: center;
  background-color: #0D121F;
  color: #ffffff;
}
.opinions h1 {
  color: #FFFFFF;
  margin-bottom: 24px;
}
.opinions h2 {
  margin-bottom: 14px;
}
.opinions .subheading {
  color: #90A3BF;
  width: 568px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 64px;
}
.opinions .heading {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
}
.opinions .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.opinions .testimonials .testimonial {
  padding: 32px;
  width: 384px;
  background-color: #1A202C;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.opinions .testimonials .testimonial:nth-child(even) .position {
  color: #596780;
}
.opinions .testimonials .testimonial img {
  margin-right: 24px;
}
.opinions .testimonials .testimonial .name {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.03em;
}
.opinions .testimonials .testimonial .position {
  font-weight: 400;
  font-size: 14px;
  color: #C3D4E9;
}
.opinions .opinion {
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid rgba(144, 163, 191, 0.2);
  padding-bottom: 34px;
  margin-bottom: 32px;
  height: 120px;
}
.opinions .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.opinions .navigate {
  margin-top: 64px;
}
.opinions .navigate button {
  border-radius: 100px;
  padding: 16px;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.opinions .navigate .left {
  background: #1A202C;
  margin-right: 24px;
}
.opinions .navigate .right {
  background: #7C5CFC;
  -webkit-box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
          box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
}
.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
}
.pricing h1 {
  color: #0D121F;
  margin-bottom: 24px;
}
.pricing p {
  color: #596780;
  margin-bottom: 64px;
}
.pricing .toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 235px;
  color: #0D121F;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  margin-right: 19px;
}
.pricing .discount {
  background-color: #E7DEFE;
  padding: 4px 12px;
  border-radius: 30px;
  color: #0D121F;
  font-weight: 500;
  font-size: 14px;
}
.pricing .arrow {
  position: absolute;
  top: 319px;
}
.pricing .plan {
  text-align: start;
  background-color: #F3F5F7;
  padding: 32px;
  border-radius: 12px;
  position: relative;
}
.pricing .plan .name {
  color: #0D121F;
  font-weight: 600;
  font-size: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing .plan .name img {
  margin-right: 12px;
}
.pricing .plan .name .popular {
  background-color: #0D121F;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 4px 16px;
  position: absolute;
  right: 32px;
  top: 40px;
}
.pricing .plan .perfect {
  margin-bottom: 24px;
}
.pricing .plan .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing .plan .rate .price {
  color: #0D121F;
  font-weight: 600;
  font-size: 40px;
}
.pricing .plan .rate .month {
  color: #596780;
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 8px;
}
.pricing .plan .description {
  color: #1A202C;
  font-weight: 400;
  font-size: 16px;
  width: 320px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.pricing .plan .features {
  font-weight: 500;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pricing .plan .features img {
  margin-right: 12px;
}
.pricing .plan .features .feature {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  padding-left: 36px;
  margin-bottom: 24px;
}
.pricing .plan .features .feature:last-child {
  margin-bottom: 0;
}
.pricing .plan .features .feature.active {
  background-image: url("./img/tick-circle.svg");
  color: #0D121F;
}
.pricing .plan .features .feature.passive {
  background-image: url("./img/close-circle.svg");
  color: #596780;
}
.pricing .plan button {
  background-color: #7C5CFC;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  padding: 14px 93px;
  margin-top: 40px;
  width: 100%;
}
.pricing .billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}
.stories h2 {
  margin-bottom: 12px;
}
.stories h1 {
  width: 634px;
  margin-bottom: 64px;
}
.stories .statistics {
  float: right;
  width: 486px;
  height: 434px;
  background-color: #FAFAFA;
  border-radius: 12px;
  padding: 32px;
}
.stories .statistics h4 {
  color: #90A3BF;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 22px;
}
.stories .statistics .numbers {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.stories .statistics .numbers .cost {
  color: #1A202C;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.03em;
  margin-right: 24px;
}
.stories .statistics .numbers .percentage {
  color: #DB2719;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.stories .statistics .numbers .percentage .down {
  color: #DB2719;
}
.stories .statistics .numbers .percentage .up {
  color: #659711;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.stories .statistics .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stories .statistics .heading a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.stories .slider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #F3F5F7;
  border-radius: 30px;
  padding: 2px;
  margin-bottom: 54px;
}
.stories .slider button {
  background-color: #F3F5F7;
  border: none;
  border-radius: 30px;
  padding: 14px 32px;
  color: #90A3BF;
  font-weight: 600;
  font-size: 16px;
}
.stories .slider button.active {
  background-color: #7C5CFC;
  color: #FFFFFF;
}
.stories h3 {
  width: 565px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.03em;
}
.stories p {
  padding-left: 32px;
  width: 490px;
  background-repeat: no-repeat;
  margin-top: 32px;
  font-weight: 500;
  font-size: 18px;
}
.stories p.cross {
  background-image: url("./img/cross.svg");
}
.stories p.check {
  background-image: url("./img/check.svg");
}
body, html {
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

section {
  padding: 120px 0;
}

h1 {
  font-size: 40px;
  letter-spacing: -0.03em;
  line-height: 60px;
}

h2 {
  color: #7C5CFC;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
}
.switch {
  width: 70px;
  border-radius: 30px;
  height: 36px;
  position: relative;
  background-color: #7C5CFC;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.switch.enabled .button {
  top: 4px;
  right: 4px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.switch.disabled {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #CFCFCF;
}
.switch.disabled .button {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  top: 4px;
  right: 38px;
}
.switch .button {
  width: 28px;
  height: 28px;
  background: #ffffff;
  border-radius: 30px;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */