.benefits {
    text-align: center;
}

.benefits h2 {
    color: #7C5CFC;
    font-size: 20px;
    margin-bottom: 12px;

}

.benefits h1 {
    color: #040815;
    font-size: 40px;
    margin-bottom: 24px;

}

.benefits .subheading {
    color: #596780;
    width: 712px;
    margin: 0 auto;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-size: 20px;
}

.benefits .container {
    display: flex;
    align-items: center;
    margin-top: 64px;
}

.benefit {
    display: flex;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 44px;
}

.benefit .info {
    padding-left: 32px;
    padding-right: 95px;
    width: 415px;
}

.benefit h3 {
    color: #040815;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin-bottom: 12px;
}

.benefit p {
    color: #596780;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
