.pricing
    display: flex
    text-align: center
    position: relative
    h1
        color: #0D121F
        margin-bottom: 24px
        
    p
        color: #596780
        margin-bottom: 64px
    .toggle
        display: inline-flex
        justify-content: space-between
        align-items: center
        width: 235px
        color: #0D121F
        font-weight: 600
        font-size: 20px
        line-height: 150%
        margin-bottom: 24px
        margin-right: 19px
    .discount
        background-color: #E7DEFE
        padding: 4px 12px
        border-radius: 30px
        color: #0D121F
        font-weight: 500
        font-size: 14px
    .arrow
        position: absolute
        top: 319px
    .plan
        .name
            color: #0D121F
            font-weight: 600
            font-size: 32px
            display: inline-flex
            align-items: center
            img
                margin-right: 12px
    .billing
        display: flex
        align-items: center
        margin-top: 32px
        
            