.pricing
    display: flex
    text-align: center
    position: relative
    h1
        color: #0D121F
        margin-bottom: 24px
        
    p
        color: #596780
        margin-bottom: 64px
    .toggle
        display: inline-flex
        justify-content: space-between
        align-items: center
        width: 235px
        color: #0D121F
        font-weight: 600
        font-size: 20px
        line-height: 150%
        margin-bottom: 24px
        margin-right: 19px
    .discount
        background-color: #E7DEFE
        padding: 4px 12px
        border-radius: 30px
        color: #0D121F
        font-weight: 500
        font-size: 14px
    .arrow
        position: absolute
        top: 319px
    .plan
        text-align: start
        background-color: #F3F5F7
        padding: 32px
        border-radius: 12px
        position: relative
        .name
            color: #0D121F
            font-weight: 600
            font-size: 32px
            display: inline-flex
            align-items: center
            img
                margin-right: 12px
            .popular
                background-color: #0D121F
                border-radius: 30px
                font-weight: 500
                font-size: 16px
                color: #ffffff
                padding: 4px 16px
                position: absolute
                right: 32px
                top: 40px
        .perfect
            margin-bottom: 24px
        .rate
            display: flex
            align-items: center
            .price
                color: #0D121F
                font-weight: 600
                font-size: 40px
            .month
                color: #596780
                font-weight: 500
                font-size: 18px
                margin-left: 10px
                margin-top: 8px
        .description
            color: #1A202C
            font-weight: 400
            font-size: 16px
            width: 320px
            margin-top: 24px
            margin-bottom: 32px
        .features
            font-weight: 500
            font-size: 18px
            display: flex
            flex-direction: column
            img
                margin-right: 12px
            .feature
                display: inline-flex
                background-repeat: no-repeat
                padding-left: 36px
                margin-bottom: 24px
                &:last-child
                    margin-bottom: 0
                &.active
                    background-image: url('./img/tick-circle.svg')
                    color: #0D121F
                &.passive
                    background-image: url('./img/close-circle.svg')
                    color: #596780         
        button
            background-color: #7C5CFC
            color: #FFFFFF
            font-weight: 600
            font-size: 16px
            border: none
            border-radius: 30px
            padding: 14px 93px
            margin-top: 40px
            width: 100%
    .billing
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 32px
        
            