.stories
    h2
        margin-bottom: 12px
    h1
        width: 634px
        margin-bottom: 64px
    .statistics
        float: right
        width: 486px
        height: 434px
        background-color: #FAFAFA
        border-radius: 12px
        padding: 32px
        h4
            color: #90A3BF
            font-weight: 600
            font-size: 20px
            margin-bottom: 22px
        .numbers
            display: inline-flex
            align-items: flex-end
            .cost
                color: #1A202C
                font-weight: 700
                font-size: 36px
                letter-spacing: -0.03em
                margin-right: 24px
            .percentage
                color: #DB2719
                display: inline-flex
                font-weight: 700
                font-size: 20px
                letter-spacing: -0.03em
                align-items: center
                margin-bottom: 5px
                .down
                    color: #DB2719
                .up
                    color: #659711
                    transform: rotate(-90deg)
        .heading
            display: flex
            justify-content: space-between
            align-items: center
            a
                display: inline-flex  
    .slider
        display: inline-flex
        background-color: #F3F5F7
        border-radius: 30px
        padding: 2px
        margin-bottom: 54px
        button
            background-color: #F3F5F7
            border: none
            border-radius: 30px
            padding: 14px 32px
            color: #90A3BF
            font-weight: 600
            font-size: 16px
            &.active
                background-color: #7C5CFC
                color: #FFFFFF
    h3
        width: 565px
        font-weight: 700
        font-size: 24px
        letter-spacing: -0.03em
    p
        padding-left: 32px
        width: 490px
        background-repeat: no-repeat
        margin-top: 32px
        font-weight: 500
        font-size: 18px
        &.cross
            background-image: url('./img/cross.svg')
        &.check
            background-image: url('./img/check.svg')
            





